.skills17 {
  background-image: var(--third-gradient17);
}

.skills__container17 {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
}

.skills__titles17,
.skills__description17 {
  padding-inline: 30px;
}

.skills__titles17 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.skills__name17 {
  font-size: var(--largest-font-size17);
}
.skills__number17 {
  color: var(--title-color17);
  font-weight: 700;
}
.skills__description17 {
  margin-bottom: 30px;
  color: var(--title-color17);
}
.skills__bar17,
.skills__percentage17 {
  height: 2px;
}
.skills__bar17 {
  background: var(--skills-color17);
}
.skills__percentage17 {
  display: block;
  background-color: var(--primary-color17);
  position: relative;
}

.skills__percentage17 span {
  background-color: var(--container-color17);
  border: 2px solid var(--border-color17);
  box-shadow: var(--box-shadow17);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -12px;
}
.skills__number17 span {
  color: var(--primary-color17);
}
