.footer17 {
  border-top: 1px solid var(--second-gradient17);
}
.footer__container17 {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.footer__socials17 {
  display: flex;
  column-gap: 20px;
  color: var(--title-color17);
}
.footer-link17 {
  color: var(--title-color17);
  font-size: var(--h5-font-size17);
  transition: all 0.7s var(--transition17);
}

.footer-link17:hover {
  color: var(--primary-color17);
}
.footer_copyright17:nth-child(2) {
  justify-self: center;
}
.footer__socials-link17 {
  color: var(--title-color17);
}
.footer_copyright17 {
  font-size: var(--tiny-font-size17);
  font-weight: 700;
}
.footer__container17 span {
  color: var(--primary-color17);
}
